html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: source sans pro, Roboto, system-ui, segoe ui,Helvetica,Arial,sans-serif;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

body {
  color: #333;
  line-height: 1.5;
  background-color: #fff;
}

th, td{
  padding: 7px;
}

li {
    padding: 3px;
}

a {
    color: #007ae6; 
    text-decoration:none;
}

a:hover {
    color:#aaa; 
}

h1, h2, h3, h4, h5, h6 {
  @include font-bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  @include text-3xl;
  font-weight: 400;
}

h2 {
  @include text-2xl;
  font-weight: 400;
}

h3 {
  @include text-xl;
  font-weight: 400;
}

h4 {
  @include text-xl;
  color: #333;
  font-weight: 400;
}


/* Section Title */
h5 {
  color:#333; 
  font-size:22px; 
  font-weight:400;
  border-bottom: 1px dashed #555;
  text-decoration: none;
  font-family: "Cabin Sketch";
}

/* Homepage Title */
h6 {
  @include text-xl;
  color:#333; 
  font-size:34px; 
  /*
  font-size:44px; 
  font-size:24px; 
  font-family: "Amatic SC";
  font-family: "Cabin Sketch";
  font-family: "Fredericka-the-Great";
   */
  font-family: "Cabin Sketch";
  font-weight:700;
}
em, strong {
  color: #333;
}

blockquote {
  background: #555;
  border-left: 5px solid #ccc;
  margin: 1.5em 0px;
  padding: 0em 10px;
}

code, pre, kbd  {
  font-family: Monaco, monospace;
  background-color: #222;
  padding: 0.2em;
  word-break: normal;
  border-radius: 5px;
}


figure {
  margin: 0;
}

img {
  max-width: 100%;
}

input {
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
}

mark {
  background-color: var(--color-background-mark);
}

details > summary {
  cursor: zoom-in;
}

details[open] > summary {
  cursor: zoom-out;
}

.content-margin {
  @include my-8;
}

.hidden {
  display: none;
}

@media screen and (min-width: $sm_min_width) {
  main {
    width: $sm_main_width;
  }
}

@media screen and (min-width: $md_min_width) {
  main {
    width: $md_main_width;
  }
}

@media screen and (min-width: $lg_min_width) {
  main {
    width: $lg_main_width;
  }
}

@media screen and (min-width: $xl_min_width) {
  main {
    width: $xl_main_width;
  }
}

@media screen and (min-width: $xxl_main_width) {
  main {
    width: $xxl_main_width;
  }
}

#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:5em;
    font-size: 12px;
    color: #888;
}
